<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="your username" name="username">
        <br>
        <br>
        <textarea name="content" id="" rows="5" cols="30"></textarea>
        <br>
        <br>
        <input type="number" placeholder="enter your likes" name="likes">
        <br>
        <br>
        <input type="number" placeholder="number of comments" name="comments">
        <br>
        <br>
        <button>Submit Post</button>
    </form>
</body>
</html>